* {
    bg0: #0f141766;
    bg1: #1b202366;
    bg2: #171c1f66;
    fg0: #dfe3e7;
    fg1: #c0c7cd;

    red: #ffb4ab;
    green: #b5c9d7;
    yellow: #c8c2ea;
    blue: #8dcff2;
    purple: #8dcff2;
    aqua: #004d67;

    highlight: #8dcff233;
}
