* {
    bg0: #0e141666;
    bg1: #1b212266;
    bg2: #161c1e66;
    fg0: #dee3e5;
    fg1: #bfc8ca;

    red: #ffb4ab;
    green: #b1cbd0;
    yellow: #bbc5ea;
    blue: #82d3e2;
    purple: #82d3e2;
    aqua: #004f59;

    highlight: #82d3e233;
}
