* {
    bg0: #0f151166;
    bg1: #1b211d66;
    bg2: #171d1966;
    fg0: #dee4de;
    fg1: #c0c9c1;

    red: #ffb4ab;
    green: #b4ccbd;
    yellow: #a5cdde;
    blue: #8ed5b0;
    purple: #8ed5b0;
    aqua: #005236;
    highlight: #8ed5b033;
}
