* {
    bg0: #0f141666;
    bg1: #1b202266;
    bg2: #171c1e66;
    fg0: #dee3e6;
    fg1: #bfc8cb;

    red: #ffb4ab;
    green: #b2cbd3;
    yellow: #bfc4eb;
    blue: #85d2e8;
    purple: #85d2e8;
    aqua: #004e5d;
    highlight: #85d2e833;
}
